{% load static %}
<div class="row">
  <div class="col-11">
    <div class="col-11 current-question-answer">
      <label class="btn btn-link">
        <img class="current-question-answer-img" src="{{ answer.author.avatar.url }}"></img>
        <a href="#" class="current-question-answer-author">{{ answer.author }}</a>
      </label>
      <div class="current-question-answer-text">
        {{ answer.text }}
      </div>
      <div class="row">
        <div class="checkbox">
          <input id="checkbox{{ answer.pk }}" type="checkbox" class="current-question-answer-checkbox js-set-right" data-apk="{{ answer.pk }}"
          {% if answer.is_correct %} checked {% endif %}>
        </div>
        <div class="current-question-answer-btn-group">
          <button class="btn btn-xs btn-upvote js-answer-vote" data-action="up-vote" data-apk="{{ answer.pk }}">+</button>
          <button class="btn btn-xs btn-downvote js-answer-vote" data-action="down-vote" data-apk="{{ answer.pk }}">-</button>
          <label class="like-counter">{{ answer.rating }}</label>
        </div>
      </div>
    </div>
  </div>
</div>