{% load static %}
<div class="row">
  <div class="col-10">
    <div class="row question-box">
      <div class="col-1">
        <img class="question-img" src="{% static question.author.avatar %}"></img>
        <div class="row question-upvotes-downvotes">
          <div class="btn-group">
            <button class="btn btn-xs btn-upvote js-vote" data-action="up-vote" data-qpk="{{ question.pk }}">+</button>
            <button class="btn btn-xs btn-downvote js-vote" data-action="down-vote" data-qpk="{{ question.pk }}">-</button>
            <div class="like-counter">{{ question.rating }}</div>
          </div>
        </div>
        </img>
      </div>
      <div class="col-11">
        <a class="btn btn-link question-title" href="{% url 'question' question.id %}">{{ question.title }}</a>
        <div class="question-text">
          {{ question.text }}
        </div>
        <div class="row question-answers">
          <label class="btn btn-link btn-tag">Answers({{ question.answers_number }})</label>
          <label class ="question-tags">Tags:</label>

          {% for tag in question.tags.all %}
            <label class="btn btn-link btn-tag question-tag">{{ tag }}</label>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
</div>