{% load static %}
<div class="row">
  <div class="col-2 current-question-author-info">
    <div class="current-question-author">Mega-asker</div>
    <img class="current-question-img" src="{% static "img/question-mark.jpg" %}"></img>
    <div class="col-11 current-question-info">
      <div class="btn-group">
        <button class="btn btn-xs btn-upvote">+</button>
        <button class="btn btn-xs btn-downvote">-</button>
        <div class="like-counter">10</div>
      </div>
    </div>
  </div>
  <div class="col-8">
    
    <h1 class="current-question-title">{{ currentQuestion.title }}</h1>
    <div class="current-question-text">
      {{ currentQuestion.text }}
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-11 current-question-tags">
  <label>Tags:</label>
  <a href="#">Perl</a>
  <a href="#">Django</a>
</div>
</div>