<div class="row popular-tags offset-10">
    <div class="col-12">
      Popular tags
      <div class="col-12">
        <a href="#" class="btn btn-link btn-tag">Perl</a>
        <a href="#" class="btn btn-link btn-tag">Django</a>
        <a href="#" class="btn btn-link btn-tag">Moon Park</a>
        <a href="#" class="btn btn-link btn-tag">HTML</a>
        <a href="#" class="btn btn-link btn-tag">CSS</a>
        <a href="#" class="btn btn-link btn-tag">C++</a>
        <a href="#" class="btn btn-link btn-tag">Techno-park</a>
      </div>