{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
  {% include 'inc/navbar-unauthorized.html' %}
{% endblock navbar %}
{% block content %}
  <main role="main" class="flex-shrink-0">
    <div class="container-fluid">
      {% include 'inc/current-question.html' %}
      {% for answer in answers %}
        {% include 'inc/current-question-answer.html' %}
      {% endfor %}
  <div class="row">
    <div class="col-11">
      <div class="col-11">
        <form class="form" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary current-question-new-answer-btn">
          Submit answer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock content %}

{% block paginator %}
  {% include 'inc/paginator2.html' %}
{% endblock paginator %}

{% block jscode %}
  <script src="{% static "js/vote.js" %}"></script>
{% endblock %}