{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
	{% include 'inc/navbar-unauthorized.html' %}
{% endblock navbar %}
{% block content %}
	<main role="main" class="flex-shrink-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-11">
					<div class="col-11">
						<h1>Settings</h1>
						<form class="form" method="POST" novalidate>
							{% csrf_token %}
							{% bootstrap_form form %}
							{% buttons %}
							<button type="submit" class="btn btn-success btn-registration-sing-up">Apply changes!</button>
							{% endbuttons %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}