{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
	{% include 'inc/navbar-unauthorized.html' %}
{% endblock navbar %}

{% block content %}
	<main role="main" class="flex-shrink-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-11">
					<div class="col-11">
						<h1>Registration</h1>
						<form class="form" method="POST">
							{% csrf_token %}
							{% for dict in form.errors %}
								{% for error in dict.values %}
									{{ error }}
								{% endfor %}
							{% endfor %}
							{% bootstrap_form form %}
							{% buttons %}
							<button type="submit" class="btn btn-success btn-registration-sing-up">
							Sing-Up!
							</button>
							{% endbuttons %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock content %}