{% extends 'inc/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
	{% include 'inc/navbar-unauthorized.html' %}
{% endblock navbar %}
{% block content %}
<main role="main" class="flex-shrink-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-11">
				<div class="col-11">
					<h1>New Question</h1>
					<div class="form-group">
						<form class="form" method="POST">
							{% csrf_token %}
							{% bootstrap_form form %}
							{% buttons %}
							<button type="submit" class="btn btn-primary new-question-btn mb-2">Ask question</button>
							{% endbuttons %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}