{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
	{% include 'inc/navbar-unauthorized.html' %}
{% endblock navbar %}

{% block content %}
	<main role="main" class="flex-shrink-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-11">
					<div class="col-11">
						<h1>Registration</h1>
						<div>
							<label>Login</label>
							<div>
								<input type="Login"
								name="registration-login-text"
								class="registration-login-text">
							</div>
						</div>
						<div>
							<label>Password</label>
							<div>
								<input type="Password"
								name="registration-password-text"
								class="registration-password-text">
							</div>
						</div>
						<div>
							<label>Confirm password</label>
							<div>
								<input type="Password"
								name="registration-password-text"
								class="registration-password-text">
							</div>
						</div>
						<div>
							<label>Email</label>
							<div>
								<input type="Email"
								name="registration-email-text"
								class="registrtion-email-text">
							</div>
						</div>
						<br>
						<div>
							<label for="current-avatar-img">Avatar</label>
							<div>
								<img class="question-img" src="{% static "img/question-mark.jpg" %}" id="current-avatar-img">
							</div>
							<div>
								<label for ="new-avatar-img" class="settings-label-for-btn">choose avatar</label>
								<input type="file" class="form-control-file" id="new-avatar-img">
							</div>
						</div>
						<button type="submit" class="btn btn-success btn-registration-sing-up">
						Sing-Up!
						</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock content %}