{% load static %}
<div class="row">
  <div class="col-11">
    <div class="col-11 current-question-answer">
      <label class="btn btn-link">
        <img class="current-question-answer-img" src="{% static "img/question-mark.jpg" %}"></img>
        <a href="#" class="current-question-answer-author">{{ answer.author }}</a>
      </label>
      <div class="current-question-answer-text">
        {{ answer.text }}
      </div>
      <div class="row">
        <div class="checkbox">
          <input type="checkbox" class="current-question-answer-checkbox">
        </div>
        <div class="current-question-answer-btn-group">
          <button class="btn btn-xs btn-upvote">+</button>
          <button class="btn btn-xs btn-downvote">-</button>
          <label class="like-counter">{{ answer.rating }}</label>
        </div>
      </div>
    </div>
  </div>
</div>