{% load static %}
<div class="row">
  <div class="col-2 current-question-author-info">
    <div class="current-question-author">{{ currentQuestion.author }}</div>
    <img class="current-question-img" src="{{ currentQuestion.author.avatar.url }}"></img>
    <div class="col-11 current-question-info">
      <div class="btn-group">
        <button class="btn btn-xs btn-upvote js-vote" data-action="up-vote" data-qpk="{{ currentQuestion.pk }}">+</button>
        <button class="btn btn-xs btn-downvote js-vote" data-action="down-vote" data-qpk="{{ currentQuestion.pk }}">-</button>
        <div class="like-counter">{{ currentQuestion.rating }}</div>
      </div>
    </div>
  </div>
  <div class="col-8">
    
    <h1 class="current-question-title">{{ currentQuestion.title }}</h1>
    <div class="current-question-text">
      {{ currentQuestion.text }}
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-11 current-question-tags">
  <label>Tags:</label>
  {% for tag in currentQuestion.tags.all %}
    <a href="#">{{ tag }}</a>
  {% endfor %}
</div>
</div>